<h2 mat-dialog-title>Edit Bookmark</h2>
<mat-dialog-content>
  <form [formGroup]="editForm">
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Title</mat-label>
      <input matInput formControlName="title" placeholder="Enter title" />
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Date</mat-label>
      <input matInput formControlName="link" placeholder="Enter date" />
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="cancel()">Cancel</button>
  <button mat-raised-button color="primary" (click)="save()" [disabled]="editForm.invalid">
    Save
  </button>
</mat-dialog-actions>
