<div class="bookmarks-page">

  <div class="filter-container">
    <button mat-button color="primary" (click)="createNew()">Create New</button>
    <button mat-button color="primary" (click)="changeFilter('today')">Today</button>
    <button mat-button color="primary" (click)="changeFilter('yesterday')">Yesterday</button>
    <button mat-button color="primary"  (click)="changeFilter('older')">Older</button>
  </div>

  <app-bookmark-list [bookmarks]="bookmarks | async" (edit)="edit($event)"></app-bookmark-list>

</div>
